# Pandas - Filtering and Sorting Data

In [1]:
import pandas as pd

## Import the dataset
(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### finding products costing more than $10.00?

In [3]:
chipo.loc[chipo['item_price'].str.replace('$','').astype(float)>10.00].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Displaying Item Price

In [4]:
chipo[['item_name','item_price']].head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

### Sorting

In [5]:
chipo.drop_duplicates('item_name').sort_values('item_name')['item_name'].head()

#or in brief

#chipo.item_name.drop_duplicates().sort_values()

298         6 Pack Soft Drink
39              Barbacoa Bowl
21           Barbacoa Burrito
168     Barbacoa Crispy Tacos
1229      Barbacoa Salad Bowl
Name: item_name, dtype: object

### Searching

In [6]:
chipo.loc[chipo['item_price']==chipo.item_price.apply(max)]

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [7]:
(chipo.item_name=='Veggie Salad Bowl').sum()

18

In [8]:
((chipo.item_name=='Canned Soda')&(chipo.quantity>1)).sum()

20