# Pandas Basics use of Groupby

In [1]:
import pandas as pd

###  Import the dataset  
(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [2]:
users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',delimiter='|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### groupby and mean

In [3]:
users.groupby(['occupation'])['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### count and sort

In [4]:
c1=users[users.gender=='M'].groupby(['occupation'])['user_id'].count().sort_values(ascending=False)
c2=users[users.gender=='F'].groupby(['occupation'])['user_id'].count().sort_values(ascending=False)
ratio=(c1/c2).sort_values(ascending=False)
ratio

occupation
engineer         32.500000
technician       26.000000
retired          13.000000
programmer       10.000000
executive         9.666667
scientist         9.333333
entertainment     8.000000
lawyer            5.000000
salesman          3.000000
educator          2.653846
student           2.266667
other             1.916667
marketing         1.600000
writer            1.368421
none              1.250000
administrator     1.194444
artist            1.153846
librarian         0.758621
healthcare        0.454545
homemaker         0.166667
doctor                 NaN
Name: user_id, dtype: float64

### calc min and max

In [5]:
g=users.groupby('occupation')['age'].max()
f=users.groupby('occupation')['age'].min()
print(g,f)

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64 occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

### Calc mean

In [6]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### finding percentage

In [7]:
total=c1.add(c2,fill_value=0)
pm=(c1/total*100).sort_values(ascending=False)
pf=(c2/total*100).sort_values(ascending=False)

print(pm,pf)

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
Name: user_id, dtype: float64 occupation
homemaker        85.714286
healthcare       68.750000
librarian        56.862745
artist           46.428571
administrator    45.569620
none             44.444444
writer           42.222222
marketing        38.461538
other            34.285714
student          30.612245
educator         27.368421
salesman         25.000000
lawyer           16.666667
entertainment    11.111111
scientist         9.677419
executive         9.375000
programmer        9.090909
retired           7.142857
technician        3.703704
engineer          2.985075
doctor                 NaN
Name: user_id, dtype: float64