# Pandas Exercise: Time Series (Apple Stock)

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Time_Series/Apple_Stock/appl_1980_2014.csv)

### Step 3. Assign it to a variable apple

In [3]:
apple=pd.read_csv('Pandas Exercise10 files/appl_1980_2014.csv')
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 4.  Check out the type of the columns

In [4]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [5]:
apple.Date=pd.to_datetime(apple.Date)
apple.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Volume                int64
Adj Close           float64
dtype: object

### Step 6.  Set the date as the index

In [6]:
apple=apple.set_index('Date')
apple.head()

             Open   High    Low  Close    Volume  Adj Close
Date
2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

### Step 7.  Is there any duplicate dates?

In [7]:
apple.index.is_unique

True

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [8]:
apple.sort_index(ascending=True).head()

             Open   High    Low  Close     Volume  Adj Close
Date
1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45
1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41

### Step 9. Get the last business day of each month

In [9]:
apple.resample('M').interpolate().head()

                 Open       High    Low  Close     Volume  Adj Close
Date
1980-12-31  34.250000  34.250000  34.13  34.13  8937600.0       0.53
1981-01-31  31.083333  31.083333  30.92  30.92  7291200.0       0.48
1981-02-28  27.916667  27.916667  27.71  27.71  5644800.0       0.43
1981-03-31  24.750000  24.750000  24.50  24.50  3998400.0       0.38
1981-04-30  28.380000  28.620000  28.38  28.38  3152800.0       0.44

### Step 10.  What is the difference in days between the first day and the oldest

In [10]:
cur_day=apple.index.max().date()
old_day=apple.index.min().date()
dif=cur_day-old_day
dif.days

12261

### Step 11.  How many months in the data we have?

In [11]:
len(pd.date_range(old_day,cur_day,freq='M'))+1

404

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [12]:
apple['Adj Close'].plot(figsize = (13.5, 9), title = 'Adjusted Closing Price Apple Sock', color = 'r')

### BONUS: Create your own question and answer it.