# Pandas Exercise: Time Series (Getting Financial Data - Google Finance)

### Step 1. Import the necessary libraries

In [42]:
import pandas as pd
import quandl

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [43]:
start=pd.datetime(2015,1,1)
end=pd.datetime.today()
start,end

(datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2018, 8, 7, 16, 14, 0, 156864))

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [44]:
stocks = ['EOD/AAPL', 'SSE/TL0', 'EOD/IBM']

### Step 4. Read the data from google, assign to df and print it

In [45]:
quandl.ApiConfig.api_key = 'QA7iUAs_11R6Ui2Y6m2_'

In [46]:
df = quandl.get(stocks, start_date = start, end_date = end)
df.head()

,EOD/AAPL - Open,EOD/AAPL - High,EOD/AAPL - Low,EOD/AAPL - Close,EOD/AAPL - Volume,EOD/AAPL - Dividend,EOD/AAPL - Split,EOD/AAPL - Adj_Open,EOD/AAPL - Adj_High,EOD/AAPL - Adj_Low,...,EOD/IBM - Low,EOD/IBM - Close,EOD/IBM - Volume,EOD/IBM - Dividend,EOD/IBM - Split,EOD/IBM - Adj_Open,EOD/IBM - Adj_High,EOD/IBM - Adj_Low,EOD/IBM - Adj_Close,EOD/IBM - Adj_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,111.39,111.44,107.350,109.33,53204626.0,0.0,1.0,104.612862,104.659820,100.818662,...,161.00,162.06,5525341.0,0.0,1.0,141.837923,143.596499,141.565344,142.497389,5525341.0
2015-01-05,108.29,108.65,105.410,106.25,64285491.0,0.0,1.0,101.701471,102.039568,98.996695,...,159.19,159.51,4880389.0,0.0,1.0,141.802751,141.802751,139.973833,140.255205,4880389.0
2015-01-06,106.54,107.43,104.630,106.26,65797116.0,0.0,1.0,100.057944,100.893795,98.264151,...,155.17,156.07,6145670.0,0.0,1.0,140.395891,140.650884,136.439096,137.230455,6145670.0
2015-01-07,107.20,108.20,106.695,107.75,40105934.0,0.0,1.0,100.677788,101.616947,100.203513,...,154.03,155.05,4701015.0,0.0,1.0,138.224050,138.224050,135.436707,136.333581,4701015.0
2015-01-08,109.23,112.15,108.700,111.89,59364547.0,0.0,1.0,102.584280,105.326623,102.086526,...,155.55,158.42,4240585.0,0.0,1.0,137.379934,139.845457,136.773225,139.296781,4240585.0

### Step 5.  What is the type of structure of df ?

In [47]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [48]:
df.info

<bound method DataFrame.info of             EOD/AAPL - Open  EOD/AAPL - High  EOD/AAPL - Low  \
Date
2015-01-02         111.3900         111.4400        107.3500
2015-01-05         108.2900         108.6500        105.4100
2015-01-06         106.5400         107.4300        104.6300
2015-01-07         107.2000         108.2000        106.6950
2015-01-08         109.2300         112.1500        108.7000
2015-01-09         112.6700         113.2500        110.2100
2015-01-12         112.6000         112.6300        108.8000
2015-01-13         111.4300         112.8000        108.9100
2015-01-14         109.0400         110.4900        108.5000
2015-01-15         110.0000         110.0600        106.6600
2015-01-16         107.0300         107.5800        105.2000
2015-01-19              NaN              NaN             NaN
2015-01-20         107.8400         108.9667        106.5000
2015-01-21         108.9500         111.0600        108.2700
2015-01-22         110.2600         112.4700        109.7200
2015-01-23         112.3000         113.7500        111.5300
2015-01-26         113.7400         114.3626        112.8000
2015-01-27         112.4200         112.4800        109.0300
2015-01-28         117.6250         118.1200        115.3100
2015-01-29         116.3200         119.1900        115.5600
2015-01-30         118.4000         120.0000        116.8500
2015-02-02         118.0500         119.1700        116.0800
2015-02-03         118.5000         119.0900        117.6100
2015-02-04         118.5000         120.5100        118.3090
2015-02-05         120.0200         120.2300        119.2500
2015-02-06         120.0200         120.2500        118.4500
2015-02-09         118.5500         119.8400        118.4300
2015-02-10         120.1700         122.1500        120.1600
2015-02-11         122.7700         124.9200        122.5000
2015-02-12         126.0600         127.4800        125.5700
...                     ...              ...             ...
2018-06-26         182.9900         186.5300        182.5400
2018-06-27         185.2278         187.2800        184.0300
2018-06-28         184.1000         186.2100        183.8000
2018-06-29         186.2900         187.1900        182.9100
2018-07-02         183.8200         187.3000        183.4200
2018-07-03         187.7900         187.9500        183.5400
2018-07-04              NaN              NaN             NaN
2018-07-05         185.2600         186.4100        184.2800
2018-07-06         185.4200         188.4340        185.2000
2018-07-09         189.5000         190.6800        189.3000
2018-07-10         190.7100         191.2800        190.1801
2018-07-11         188.5000         189.7799        187.6100
2018-07-12         189.5300         191.4100        189.3100
2018-07-13         191.0800         191.8400        190.9000
2018-07-16         191.5200         192.6500        190.4150
2018-07-17         189.7500         191.8700        189.2000
2018-07-18         191.7800         191.8000        189.9300
2018-07-19         189.6900         192.5500        189.6900
2018-07-20         191.7800         192.4300        190.1700
2018-07-23         190.6800         191.9600        189.5600
2018-07-24         192.4500         193.6601        192.0500
2018-07-25         193.0602         194.8500        192.4300
2018-07-26         194.6100         195.9600        193.6100
2018-07-27         194.9900         195.1900        190.1000
2018-07-30         191.9000         192.2000        189.0700
2018-07-31         190.3000         192.1400        189.3400
2018-08-01         199.1300         201.7600        197.3100
2018-08-02         200.5800         208.3800        200.3500
2018-08-03         207.0300         208.7400        205.4803
2018-08-06         208.0000         209.2500        207.0700

            EOD/AAPL - Close  EOD/AAPL - Volume  EOD/AAPL - Dividend  \
Date
2015-01-02            109.33         53204626.0                 0.00
2015-01-05            106.25         64285491.0                 0.00
2015-01-06            106.26         65797116.0                 0.00
2015-01-07            107.75         40105934.0                 0.00
2015-01-08            111.89         59364547.0                 0.00
2015-01-09            112.01         53315099.0                 0.00
2015-01-12            109.25         49650790.0                 0.00
2015-01-13            110.22         67091928.0                 0.00
2015-01-14            109.80         48956588.0                 0.00
2015-01-15            106.82         60013996.0                 0.00
2015-01-16            105.99         78513345.0                 0.00
2015-01-19               NaN                NaN                  NaN
2015-01-20            108.72         49899907.0                 0.00
2015-01-21            109.55         48575897.0                 0.00
2015-01-22            112.40         53796409.0                 0.00
2015-01-23            112.98         46464828.0                 0.00
2015-01-26            113.10         55614979.0                 0.00
2015-01-27            109.14         95568749.0                 0.00
2015-01-28            115.31        146477063.0                 0.00
2015-01-29            118.90         84436432.0                 0.00
2015-01-30            117.16         83745461.0                 0.00
2015-02-02            118.63         62739100.0                 0.00
2015-02-03            118.65         51915749.0                 0.00
2015-02-04            119.56         70149743.0                 0.00
2015-02-05            119.94         42246245.0                 0.47
2015-02-06            118.93         43706567.0                 0.00
2015-02-09            119.72         38889797.0                 0.00
2015-02-10            122.02         62008506.0                 0.00
2015-02-11            124.88         73561797.0                 0.00
2015-02-12            126.46         74474466.0                 0.00
...                      ...                ...                  ...
2018-06-26            184.43         24569201.0                 0.00
2018-06-27            184.16         25285328.0                 0.00
2018-06-28            185.50         17365235.0                 0.00
2018-06-29            185.11         22737666.0                 0.00
2018-07-02            187.18         17674788.0                 0.00
2018-07-03            183.92         13954806.0                 0.00
2018-07-04               NaN                NaN                  NaN
2018-07-05            185.40         16604248.0                 0.00
2018-07-06            187.97         17485245.0                 0.00
2018-07-09            190.58         19756634.0                 0.00
2018-07-10            190.35         15939149.0                 0.00
2018-07-11            187.88         18831470.0                 0.00
2018-07-12            191.03         18041131.0                 0.00
2018-07-13            191.33         12519792.0                 0.00
2018-07-16            190.91         15043110.0                 0.00
2018-07-17            191.45         15534523.0                 0.00
2018-07-18            190.40         16393381.0                 0.00
2018-07-19            191.88         20286752.0                 0.00
2018-07-20            191.44         20706042.0                 0.00
2018-07-23            191.61         15989365.0                 0.00
2018-07-24            193.00         18697898.0                 0.00
2018-07-25            194.82         16826483.0                 0.00
2018-07-26            194.21         19075964.0                 0.00
2018-07-27            190.98         24023972.0                 0.00
2018-07-30            189.91         21029535.0                 0.00
2018-07-31            190.29         39373038.0                 0.00
2018-08-01            201.50         67935716.0                 0.00
2018-08-02            207.39         62404012.0                 0.00
2018-08-03            207.99         33447396.0                 0.00
2018-08-06            209.07         25425387.0                 0.00

            EOD/AAPL - Split  EOD/AAPL - Adj_Open  EOD/AAPL - Adj_High  \
Date
2015-01-02               1.0           104.612862           104.659820
2015-01-05               1.0           101.701471           102.039568
2015-01-06               1.0           100.057944           100.893795
2015-01-07               1.0           100.677788           101.616947
2015-01-08               1.0           102.584280           105.326623
2015-01-09               1.0           105.814985           106.359697
2015-01-12               1.0           105.749244           105.777419
2015-01-13               1.0           104.650429           105.937076
2015-01-14               1.0           102.405840           103.767620
2015-01-15               1.0           103.307432           103.363781
2015-01-16               1.0           100.518131           101.034668
2015-01-19               NaN                  NaN                  NaN
2015-01-20               1.0           101.278850           102.336999
2015-01-21               1.0           102.321315           104.302940
2015-01-22               1.0           103.551613           105.627153
2015-01-23               1.0           105.467496           106.829276
2015-01-26               1.0           106.819885           107.404605
2015-01-27               1.0           105.580195           105.636545
2015-01-28               1.0           110.468515           110.933399
2015-01-29               1.0           109.242913           111.938298
2015-01-30               1.0           111.196363           112.699017
2015-02-02               1.0           110.867658           111.919515
2015-02-03               1.0           111.290279           111.844382
2015-02-04               1.0           111.290279           113.177987
2015-02-05               1.0           113.159499           113.357495
2015-02-06               1.0           113.159499           113.376352
2015-02-09               1.0           111.773526           112.989788
2015-02-10               1.0           113.300924           115.167745
2015-02-11               1.0           115.752305           117.779408
2015-02-12               1.0           118.854244           120.193075
...                      ...                  ...                  ...
2018-06-26               1.0           182.990000           186.530000
2018-06-27               1.0           185.227800           187.280000
2018-06-28               1.0           184.100000           186.210000
2018-06-29               1.0           186.290000           187.190000
2018-07-02               1.0           183.820000           187.300000
2018-07-03               1.0           187.790000           187.950000
2018-07-04               NaN                  NaN                  NaN
2018-07-05               1.0           185.260000           186.410000
2018-07-06               1.0           185.420000           188.434000
2018-07-09               1.0           189.500000           190.680000
2018-07-10               1.0           190.710000           191.280000
2018-07-11               1.0           188.500000           189.779900
2018-07-12               1.0           189.530000           191.410000
2018-07-13               1.0           191.080000           191.840000
2018-07-16               1.0           191.520000           192.650000
2018-07-17               1.0           189.750000           191.870000
2018-07-18               1.0           191.780000           191.800000
2018-07-19               1.0           189.690000           192.550000
2018-07-20               1.0           191.780000           192.430000
2018-07-23               1.0           190.680000           191.960000
2018-07-24               1.0           192.450000           193.660100
2018-07-25               1.0           193.060200           194.850000
2018-07-26               1.0           194.610000           195.960000
2018-07-27               1.0           194.990000           195.190000
2018-07-30               1.0           191.900000           192.200000
2018-07-31               1.0           190.300000           192.140000
2018-08-01               1.0           199.130000           201.760000
2018-08-02               1.0           200.580000           208.380000
2018-08-03               1.0           207.030000           208.740000
2018-08-06               1.0           208.000000           209.250000

            EOD/AAPL - Adj_Low          ...           EOD/IBM - Low  \
Date                                    ...
2015-01-02          100.818662          ...                161.0000
2015-01-05           98.996695          ...                159.1900
2015-01-06           98.264151          ...                155.1700
2015-01-07          100.203513          ...                154.0300
2015-01-08          102.086526          ...                155.5500
2015-01-09          103.504655          ...                157.2500
2015-01-12          102.180442          ...                155.7600
2015-01-13          102.283749          ...                155.6800
2015-01-14          101.898694          ...                153.7400
2015-01-15          100.170643          ...                154.1600
2015-01-16           98.799471          ...                153.8200
2015-01-19                 NaN          ...                     NaN
2015-01-20          100.020377          ...                154.0300
2015-01-21          101.682688          ...                151.0700
2015-01-22          103.044468          ...                151.7600
2015-01-23          104.744344          ...                154.8900
2015-01-26          105.937076          ...                155.7700
2015-01-27          102.396448          ...                152.5900
2015-01-28          108.294363          ...                151.5500
2015-01-29          108.529153          ...                149.5200
2015-01-30          109.740667          ...                153.0400
2015-02-02          109.017515          ...                151.5100
2015-02-03          110.454428          ...                154.7500
2015-02-04          111.110900          ...                156.7000
2015-02-05          112.433513          ...                157.1501
2015-02-06          111.679242          ...                156.2300
2015-02-09          111.660385          ...                155.4000
2015-02-10          113.291496          ...                155.0800
2015-02-11          115.497739          ...                157.1700
2015-02-12          118.392253          ...                158.0900
...                        ...          ...                     ...
2018-06-26          182.540000          ...                138.3300
2018-06-27          184.030000          ...                137.4500
2018-06-28          183.800000          ...                137.9450
2018-06-29          182.910000          ...                139.6100
2018-07-02          183.420000          ...                138.2000
2018-07-03          183.540000          ...                139.3678
2018-07-04                 NaN          ...                     NaN
2018-07-05          184.280000          ...                139.9300
2018-07-06          185.200000          ...                141.1700
2018-07-09          189.300000          ...                142.4700
2018-07-10          190.180100          ...                144.2550
2018-07-11          187.610000          ...                144.0000
2018-07-12          189.310000          ...                145.7400
2018-07-13          190.900000          ...                145.8000
2018-07-16          190.415000          ...                144.2100
2018-07-17          189.200000          ...                143.3400
2018-07-18          189.930000          ...                142.7351
2018-07-19          189.690000          ...                147.2500
2018-07-20          190.170000          ...                146.2600
2018-07-23          189.560000          ...                145.0150
2018-07-24          192.050000          ...                145.9200
2018-07-25          192.430000          ...                145.5000
2018-07-26          193.610000          ...                146.6300
2018-07-27          190.100000          ...                144.6600
2018-07-30          189.070000          ...                144.6900
2018-07-31          189.340000          ...                144.1590
2018-08-01          197.310000          ...                143.3400
2018-08-02          200.350000          ...                142.3300
2018-08-03          205.480300          ...                143.0000
2018-08-06          207.070000          ...                145.5700

            EOD/IBM - Close  EOD/IBM - Volume  EOD/IBM - Dividend  \
Date
2015-01-02           162.06         5525341.0                 0.0
2015-01-05           159.51         4880389.0                 0.0
2015-01-06           156.07         6145670.0                 0.0
2015-01-07           155.05         4701015.0                 0.0
2015-01-08           158.42         4240585.0                 0.0
2015-01-09           159.11         4472701.0                 0.0
2015-01-12           156.44         4187588.0                 0.0
2015-01-13           156.81         4386989.0                 0.0
2015-01-14           155.80         4689740.0                 0.0
2015-01-15           154.57         4251698.0                 0.0
2015-01-16           157.14         5756041.0                 0.0
2015-01-19              NaN               NaN                 NaN
2015-01-20           156.95         8380815.0                 0.0
2015-01-21           152.09        11896012.0                 0.0
2015-01-22           155.39         6119523.0                 0.0
2015-01-23           155.87         4834447.0                 0.0
2015-01-26           156.36         7888037.0                 0.0
2015-01-27           153.67         5659568.0                 0.0
2015-01-28           151.55         4495633.0                 0.0
2015-01-29           155.48         8320622.0                 0.0
2015-01-30           153.31         6563447.0                 0.0
2015-02-02           154.66         4712017.0                 0.0
2015-02-03           158.47         5539406.0                 0.0
2015-02-04           156.96         3678339.0                 0.0
2015-02-05           157.91         5253628.0                 0.0
2015-02-06           156.72         3256440.0                 1.1
2015-02-09           155.75         3057502.0                 0.0
2015-02-10           158.56         4440614.0                 0.0
2015-02-11           158.20         3626658.0                 0.0
2015-02-12           158.52         3333063.0                 0.0
...                     ...               ...                 ...
2018-06-26           139.08         4139455.0                 0.0
2018-06-27           137.48         4097588.0                 0.0
2018-06-28           140.04         4523456.0                 0.0
2018-06-29           139.70         3753684.0                 0.0
2018-07-02           139.86         3405612.0                 0.0
2018-07-03           139.57         1963232.0                 0.0
2018-07-04              NaN               NaN                 NaN
2018-07-05           141.43         3744730.0                 0.0
2018-07-06           142.48         2910426.0                 0.0
2018-07-09           144.39         3901282.0                 0.0
2018-07-10           144.71         3775080.0                 0.0
2018-07-11           144.94         3480960.0                 0.0
2018-07-12           146.45         3117802.0                 0.0
2018-07-13           145.90         3067638.0                 0.0
2018-07-16           145.46         3468817.0                 0.0
2018-07-17           143.49         5095234.0                 0.0

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [49]:
df.columns

Index(['EOD/AAPL - Open', 'EOD/AAPL - High', 'EOD/AAPL - Low',
       'EOD/AAPL - Close', 'EOD/AAPL - Volume', 'EOD/AAPL - Dividend',
       'EOD/AAPL - Split', 'EOD/AAPL - Adj_Open', 'EOD/AAPL - Adj_High',
       'EOD/AAPL - Adj_Low', 'EOD/AAPL - Adj_Close', 'EOD/AAPL - Adj_Volume',
       'SSE/TL0 - High', 'SSE/TL0 - Low', 'SSE/TL0 - Last',
       'SSE/TL0 - Previous Day Price', 'SSE/TL0 - Volume', 'EOD/IBM - Open',
       'EOD/IBM - High', 'EOD/IBM - Low', 'EOD/IBM - Close',
       'EOD/IBM - Volume', 'EOD/IBM - Dividend', 'EOD/IBM - Split',
       'EOD/IBM - Adj_Open', 'EOD/IBM - Adj_High', 'EOD/IBM - Adj_Low',
       'EOD/IBM - Adj_Close', 'EOD/IBM - Adj_Volume'],
      dtype='object')

In [51]:
vol['SSE/TL0 - Volume'].tail()

Date
2018-07-31    263.0
2018-08-01    292.0
2018-08-02    790.0
2018-08-03    775.0
2018-08-06    577.0
Name: SSE/TL0 - Volume, dtype: float64

In [52]:
vol = df[['EOD/AAPL - Volume', 'SSE/TL0 - Volume', 'EOD/IBM - Adj_Volume']]
vol.tail()

            EOD/AAPL - Volume  SSE/TL0 - Volume  EOD/IBM - Adj_Volume
Date
2018-07-31         39373038.0             263.0             5474166.0
2018-08-01         67935716.0             292.0             3387370.0
2018-08-02         62404012.0             790.0             3836675.0
2018-08-03         33447396.0             775.0             8053557.0
2018-08-06         25425387.0             577.0             3913743.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [53]:
vol['week']=vol.index.week
vol['year']=vol.index.year
vol.groupby(['week','year']).sum()

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

           EOD/AAPL - Volume  SSE/TL0 - Volume  EOD/IBM - Adj_Volume
week year
1    2015         53204626.0               0.0             5525341.0
     2016        343790211.0               0.0            25251873.0
     2017        103845468.0            2939.0            11943248.0
     2018        101168448.0            2680.0            26393975.0
2    2015        282868187.0               0.0            24440360.0
     2016        304337253.0               0.0            29470082.0
     2017        138810760.0            4471.0            16710843.0
     2018        110197467.0            1382.0            22577699.0
3    2015        304226647.0               0.0            23272056.0
     2016        243384093.0               0.0            44203492.0
     2017        116347987.0            3745.0            26891514.0
     2018        127571202.0            1186.0            54727282.0
4    2015        198737041.0               0.0            31230797.0
     2016        380336530.0               0.0            27278749.0
     2017        124748449.0            5663.0            24898161.0
     2018        191574802.0            5760.0            28682463.0
5    2015        465842684.0               0.0            32927307.0
     2016        217154766.0               0.0            25527891.0
     2017        249781248.0            4489.0            16952754.0
     2018        262992133.0            1047.0            22176848.0
6    2015        270757404.0               0.0            22439830.0
     2016        231122263.0               0.0            32025579.0
     2017        136449154.0            7369.0            15458288.0
     2018        317654064.0            3329.0            39370118.0
7    2015        303206785.0               0.0            18164756.0
     2016        168316315.0               0.0            23958762.0
     2017        136667496.0           11387.0            15587334.0
     2018        225336897.0             834.0            26132237.0
8    2015        194354942.0               0.0            14108892.0
     2016        159052926.0               0.0            20763400.0
...                      ...               ...                   ...
43   2016        210225569.0               0.0            16009359.0
     2017        122403284.0            9268.0            28611729.0
44   2015        322362121.0               0.0            34698762.0
     2016        156346518.0               0.0            15168515.0
     2017        215177366.0            5207.0            19607252.0
45   2015        195203256.0               0.0            21526383.0
     2016        207268979.0               0.0            25292112.0
     2017        137626598.0            3619.0            21912902.0
46   2015        216555289.0               0.0            25069755.0
     2016        198341456.0               0.0            16168917.0
     2017        116459665.0            3390.0            23994346.0
47   2015        189947415.0               0.0            21083793.0
     2016         94132421.0               0.0            11269212.0
     2017         81009340.0            1627.0            13837743.0
48   2015        109720453.0               0.0            13199481.0
     2016        155499850.0               0.0            19370850.0
     2017        170098474.0            1697.0            24506859.0
49   2015        206765745.0               0.0            22935841.0
     2016        151989664.0            2937.0            17154330.0
     2017        137481078.0            1140.0            20434580.0
50   2015        188853944.0               0.0            21354563.0
     2016        195015700.0            8672.0            23953742.0
     2017        139147284.0            4256.0            32001515.0
51   2015        315791335.0               0.0            27823388.0
     2016        113322891.0            5596.0            13209502.0
     2017        117632550.0            1710.0            20131902.0
52   2015        126634011.0               0.0            16540309.0
     2016         84828531.0            6523.0             7770697.0
     2017         97163858.0             820.0            10642350.0
53   2015        123761546.0               0.0            13538507.0

[189 rows x 3 columns]

### Step 9. Find all the volume traded in the year of 2015

In [54]:
vol[vol.year==2015]

,EOD/AAPL - Volume,SSE/TL0 - Volume,EOD/IBM - Adj_Volume,week,year
Date,,,,,
2015-01-02,53204626.0,NaN,5525341.0,1,2015
2015-01-05,64285491.0,NaN,4880389.0,2,2015
2015-01-06,65797116.0,NaN,6145670.0,2,2015
2015-01-07,40105934.0,NaN,4701015.0,2,2015
2015-01-08,59364547.0,NaN,4240585.0,2,2015
2015-01-09,53315099.0,NaN,4472701.0,2,2015
2015-01-12,49650790.0,NaN,4187588.0,3,2015
2015-01-13,67091928.0,NaN,4386989.0,3,2015
2015-01-14,48956588.0,NaN,4689740.0,3,2015
2015-01-15,60013996.0,NaN,4251698.0,3,2015
2015-01-16,78513345.0,NaN,5756041.0,3,2015
2015-01-19,NaN,NaN,NaN,4,2015
2015-01-20,49899907.0,NaN,8380815.0,4,2015
2015-01-21,48575897.0,NaN,11896012.0,4,2015
2015-01-22,53796409.0,NaN,6119523.0,4,2015
2015-01-23,46464828.0,NaN,4834447.0,4,2015
2015-01-26,55614979.0,NaN,7888037.0,5,2015
2015-01-27,95568749.0,NaN,5659568.0,5,2015
2015-01-28,146477063.0,NaN,4495633.0,5,2015
2015-01-29,84436432.0,NaN,8320622.0,5,2015
2015-01-30,83745461.0,NaN,6563447.0,5,2015
2015-02-02,62739100.0,NaN,4712017.0,6,2015
2015-02-03,51915749.0,NaN,5539406.0,6,2015
2015-02-04,70149743.0,NaN,3678339.0,6,2015
2015-02-05,42246245.0,NaN,5253628.0,6,2015
2015-02-06,43706567.0,NaN,3256440.0,6,2015
2015-02-09,38889797.0,NaN,3057502.0,7,2015
2015-02-10,62008506.0,NaN,4440614.0,7,2015
2015-02-11,73561797.0,NaN,3626658.0,7,2015
2015-02-12,74474466.0,NaN,3333063.0,7,2015
...,...,...,...,...,...
2015-11-19,43295820.0,NaN,4753503.0,47,2015
2015-11-20,34287096.0,NaN,5176255.0,47,2015
2015-11-23,32482528.0,NaN,5137872.0,48,2015
2015-11-24,42803172.0,NaN,3407603.0,48,2015
2015-11-25,21388308.0,NaN,3238166.0,48,2015
2015-11-26,NaN,NaN,NaN,48,2015
2015-11-27,13046445.0,NaN,1415840.0,48,2015
2015-11-30,39180322.0,NaN,4542014.0,49,2015
2015-12-01,34852374.0,NaN,4195119.0,49,2015
2015-12-02,33386563.0,NaN,3725193.0,49,2015
2015-12-03,41569509.0,NaN,5905763.0,49,2015
2015-12-04,57776977.0,NaN,4567752.0,49,2015
2015-12-07,32084249.0,NaN,3279300.0,50,2015
2015-12-08,34309450.0,NaN,3904755.0,50,2015
2015-12-09,46361357.0,NaN,4614993.0,50,2015
2015-12-10,29212727.0,NaN,4221948.0,50,2015
2015-12-11,46886161.0,NaN,5333567.0,50,2015
2015-12-14,65003609.0,NaN,5141549.0,51,2015
2015-12-15,53323105.0,NaN,4238546.0,51,2015
2015-12-16,56238467.0,NaN,4345474.0,51,2015
2015-12-17,44772827.0,NaN,4089539.0,51,2015
2015-12-18,96453327.0,NaN,10008280.0,51,2015
2015-12-21,47590610.0,NaN,5616636.0,52,2015
2015-12-22,32789367.0,NaN,4263538.0,52,2015
2015-12-23,32657354.0,NaN,5164909.0,52,2015
2015-12-24,13596680.0,NaN,1495226.0,52,2015
2015-12-28,26704210.0,NaN,3143412.0,53,2015
2015-12-29,30931243.0,NaN,3943691.0,53,2015
2015-12-30,25213777.0,NaN,2989367.0,53,2015
2015-12-31,40912316.0,NaN,3462037.0,53,2015

### BONUS: Create your own question and answer it.